.cardHotel {
    border-radius: 15px;
    position: relative;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 0 1rem;
    margin: 0;
}
.cardHotel img {
    border-top-left-radius: 10px;  /* Bo góc trên bên trái */
    border-top-right-radius: 10px; /* Bo góc trên bên phải */
    width: 100%;
    /* margin-top: 4%; */
    height: 60%;
}
.cardHotel h5 {
    padding-left: 5%;
    padding-top: 5%;
    color: #552f9c; /* Màu chữ của link */
    text-decoration: underline; /* Bật gạch dưới */
    text-decoration-color: #552f9c; /* Màu gạch dưới */
    font-weight: bold;
}
.cardHotel b {
    padding-left: 5%;
    display: block;
    margin-bottom: 1rem;
}
.cardHotel p {
    padding-left: 5%;
}
.cardHotel span {
    margin-left: 5%;
}
.pd {
    padding: 0% 1%;
    background-color: #00357d;
    color: white;
    font-weight: bold;
}